body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;    
    background-image: url(images/backgrounds/background_2.png);
    user-select: none;  
}



.datetime {
    position: absolute;
    left: 8px;
    top: -8px;

    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: default;
}

.connectivity {
    position: absolute;
    right: 38px;
    top: -8px;

    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: default;
}

.fa-wifi {
    position: absolute;
    top: 7px;
    right: 92px;

    color: white;
    font-size: 13px;
}

.fa-battery-full {
    position: absolute;
    top: 5px;
    right: 10px;

    color: white;
    font-size: 19px;
}



.open-search-bar {
    position: absolute;
    top: 30px;
    left: 10px;
    
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}



.open-control-center {
    position: absolute;
    top: 30px;
    right: 10px;
    
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(8px);

    visibility: hidden;
    opacity: 0;

    transition: 0.3s ease-in-out;
}
.overlay.show {
    visibility: visible;
    opacity: 1;
}

.control-center {
    position: absolute;
    top: -800px;
    right: 40px;
    z-index: 10;

    width: 580px;
    height: 800px;

    transition: 0.3s ease-in-out;
}
.control-center img {
    cursor: pointer;
}

.toggle-control-center {
    top: 40px;
}

.hidden {
    display: none;
}



.control-center-top-section {
    display: flex;
    align-items: center;
    gap: 30px;
}
.control-center-mid-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.control-center-mid-left-section {
    width: 40%;
}

.connectivity-container {
    background-color: rgba(21, 21, 21, 0.5);

    padding: 15px;
    border-radius: 25px;
    margin: 30px 0 0 30px;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
}

.media-player-container {
    background-color: rgba(21, 21, 21, 0.5);
    padding: 60px 22px 35px 22px;
    border-radius: 25px;
    margin: 30px 30px 0 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.media-player-container p {
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}
.media-player-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.bell-lock-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
    margin-left: 75px;
}
.control-center-bell-icon {
    background-color: rgb(255, 255, 255);
    padding: 27px;
    border-radius: 25px;
}
.control-center-lock-icon {
    background-color: rgba(21, 21, 21, 0.5);
    padding: 27px;
    border-radius: 25px;
}

.focus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.5);
    width: 180px;
    border-radius: 25px;
    padding: 5px 45px 5px 20px;
    margin: 30px 0 0 31px;  
}
.focus {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}
.focus-image {
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50%;
    margin-left: -10px;
}

.control-center-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 77px;
}
.control-center-brightness-bar {
    padding: 195px 35px 25px 35px;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 60%, white 40%);
}
.control-center-volume-bar {
    padding: 195px 35px 25px 35px;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 50%, white 50%);
}



.icon-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.icon a {
    transition: ease-in-out 0.3s;
}
.icon a:hover {
    transform: scale(1.05);
    filter:drop-shadow(0px 0px 6px rgba(100, 100, 100, 0.3));
}

.icon p {
    color: white;
    font-weight: 550;
    letter-spacing: 0.8px;
    font-size: 15px;
    margin-top: 3px;
    cursor: default;
}



.navbar-container {
    position: absolute;
    bottom: 25px;
    left: 50%;
    z-index: -10;
    transform: translateX(-50%);

    background: rgba(233, 233, 233, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    padding: 15px 10px 15px 10px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navbar-icon {
    margin-left: 10px;
    margin-right: 10px;
    transition: ease-in-out 0.3s;
}
.navbar-icon:hover {
    transform: scale(1.05);
    filter:drop-shadow(0px 0px 6px rgba(100, 100, 100, 0.3));
}